.contact {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.contact_title {
  width: 80%;
  height: 170px;
  position: absolute;
  top: 135px;
  left: -40px;
  background-color: #345fbb;
  -webkit-box-shadow: 5px 5px 19px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 19px -1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.contact_title h4 {
  width: 60%;
  font-family: 'Rubik', sans-serif;
  position: absolute;
  right: -15px;
  bottom: 15px;
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 8px;
  line-height: 1.6;
  color: #f3f2f9;
}

.contact_menu {
  width: 90%;
  height: 380px;
  position: absolute;
  top: 167px;
  right: -38px;
  border: 7px solid #f1ae43;
  border-radius: 40px;
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.contact_link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0.5em 0.5em;
}

.contact_link a {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 2.5px;
  font-size: 1.2em;
  cursor: pointer;
  z-index: 1;
}

.link_dark {
  color: var(--ligth-color);
}

.link_light {
  color: var(--between-color);
}

.contact_link a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: #deb445;
  transition: left 0.8s;
}

.contact_link a:hover:after {
  left: 0;
}

@media (min-width: 720px) {
  .contact_wrapper {
    margin-top: 3em;
    width: 100%;
    height: 550px;
    background-color: rgba(224, 92, 55, 0.9);
  }
  .contact_title {
    width: 65%;
    height: 200px;
    top: 134px;
    left: 155px;
    align-items: baseline;
  }
  .contact_title h4 {
    width: 70%;
    margin: 0;
    bottom: 25px;
    right: 10px;
    font-weight: 600;
    font-size: 2.3em;
  }

  .contact_menu {
    width: 60%;
    top: 200px;
    right: 170px;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 6em;
  }

  .contact_link {
    width: 40%;
    margin: 0.5em 0;
  }

  .contact_link a {
    color: #f3f2f9;
    font-size: 1.4em;
  }
}
